<?xml version="1.0"?>
<ruleset>
    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>

    <!-- Ignore warnings, show progress of the run and show sniff names -->
    <arg value="nps"/>

    <file>bin/</file>
    <file>config/</file>
    <file>public/</file>
    <file>src/</file>
    <file>tests/</file>

    <rule ref="Doctrine"/>

    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint">
        <exclude-pattern>src/Application/Persister/*</exclude-pattern>
        <exclude-pattern>src/Application/Transformer/*</exclude-pattern>
        <exclude-pattern>src/Application/Validator/Constraints/UniqueEntityDtoValidator.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint">
        <exclude-pattern>src/Application/Dto/*</exclude-pattern>
        <exclude-pattern>src/Domain/Model/Order/Order.php</exclude-pattern>
        <exclude-pattern>src/Domain/Model/Product/Product.php</exclude-pattern>
        <exclude-pattern>src/Domain/Model/User/User.php</exclude-pattern>
    </rule>
</ruleset>
