includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludes_analyse:
        - src/Infrastructure/Doctrine/Migrations
    tmpDir: var/phpstan
    ignoreErrors:
        -
            message: '~Variable property access on mixed.~'
            path: src/Application/Validator/Constraints/UniqueEntityDtoValidator.php
