includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - src/Infrastructure/Doctrine/Migrations
    tmpDir: var/phpstan
    ignoreErrors:
        -
            message: '~Variable property access on object.~'
            path: src/Application/Validator/Constraints/UniqueEntityDtoValidator.php
        -
            message: '~is never written, only read~'
            path: src/Domain/Model/OrderItem/OrderItem.php
        -
            message: '~is never written, only read~'
            path: src/Domain/Model/Product/Product.php
        -
            message: '~is never written, only read~'
            path: src/Domain/Model/Transaction/Transaction.php
        -
            message: "~Cannot access offset 'class' on mixed~"
            path: src/Application/Transformer/Order/OrderInputTransformer.php
        -
            message: "~Cannot access offset 'class' on mixed~"
            path: src/Application/Transformer/Product/ProductInputTransformer.php
        -
            message: "~Cannot access offset 'class' on mixed~"
            path: src/Application/Transformer/User/UserInputTransformer.php
